<section>
    
    <div class="container-fluid">
        
        <div class="row mt-3 ">
            <h2 style="background-color: #438eb9; color: white;">View all patients</h2>
            <hr>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-end">
              <button type="button" [routerLink]="['/nurse/nurse_patient']" routerLinkActive="router-link-active"  class="btn btn-primary">Add Patient</button>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                
                <div class="table-responsive">
                    <table class="table table-hover" style="text-wrap: nowrap;">
                      <thead>
                        <tr>
                          <th>Sr No</th>
                          <th>Image</th>
                          <th>First Name</th>
                          <th>Middle Name</th>
                          <th>Last Name</th>
                          <th>Date of Birth</th>
                          <th>Gender</th>
                          <!-- <th>Ethnicity</th> -->
                          <!-- <th>Address One</th> -->
                          <!-- <th>Address Two</th> -->
                           <th>City</th>
                          <!--<th>State</th>
                          <th>Zip Code</th>
                          <th>Instruction</th>
                          <th>MRN Number</th> -->
                          <th>Email</th>
                          <!-- <th>Home Phone</th>
                          <th>Mobile Phone</th>
                          <th>Other Phone</th>
                          <th>Contact Name</th>
                          <th>Phone One</th>
                          <th>Phone Two</th>
                          <th>Emergency Email</th>
                          <th>Language</th>
                          <th>Comments</th> -->
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let admin of paginatedDoctors; let i = index">
                          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                          <td >
                            <div class="mt-2"><img
                                    style="width: 50px; border-radius: 30px; text-align: center;"
                                    src="{{admin.image}}" alt="img" /></div>
                        </td>
                          <td>{{ admin.firstname }}</td>
                          <td>{{ admin.middlename }}</td>
                          <td>{{ admin.lastname }}</td>
                          <td>{{ admin.dateofBirth }}</td>
                          <td>{{ admin.gender }}</td>
                          <!-- <td>{{ admin.ethnicity }}</td>
                          <td>{{ admin.addressOne }}</td>
                          <td>{{ admin.addressTwo }}</td>-->
                          <td>{{ admin.city }}</td>
                         <!-- <td>{{ admin.state }}</td>
                          <td>{{ admin.zip }}</td>
                          <td>{{ admin.instruction }}</td>
                          <td>{{ admin.MRNnumber }}</td> -->
                          <td>{{ admin.email }}</td>
                          <!-- <td>{{ admin.homePhone }}</td>
                          <td>{{ admin.mobilePhone }}</td>
                          <td>{{ admin.otherPhone }}</td>
                          <td>{{ admin.contactName }}</td>
                          <td>{{ admin.phoneOne }}</td>
                          <td>{{ admin.phoneTwo }}</td>
                          <td>{{ admin.emergencyEmail }}</td>
                          <td>{{ admin.language }}</td>
                          <td>{{ admin.comments }}</td> -->
                          <td>  
                            <button class="btn btn-primary bg-transparent m-1" style="color: #438eb9;" ><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="btn btn-danger bg-transparent m-1" style="color: red;" ><i class="fa-solid fa-trash"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  
                  <!-- Pagination Controls -->
                  <div class="pagination-controls">
                    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
                  </div>
                  
                
            </div>
            
        </div>
        
    </div>
    
</section>