form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5%;
}

.btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

h2{
    background-color: #438eb9;
    color: aliceblue;
    padding: 1%;
}