<section>
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <h2>Add Admin </h2>
                <hr>
                <form action="">
                    
                    <div class="container">
                        
                        <div class="row mt-2">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="">Name</label>
                                <input type="text" placeholder="Enter name here" class="form-control" formControlName="control" >
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="">Email</label>
                                <input type="email" placeholder="Enter email here" class="form-control" formControlName="control" >
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="">Password</label>
                                <input type="text" placeholder="Enter password here" class="form-control" formControlName="control" >
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="">Mobile Number</label>
                                <input type="tel" placeholder="Enter mobile number here" class="form-control" formControlName="control" >
                            </div>
                        </div>
                        
                            
                            <div class="row mt-4">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label for="">Image</label>
                                    <input type="file" placeholder="Enter name here" class="form-control" formControlName="control" >
                                </div>
                            </div>

                            
                            <div class="row mt-4">
                                
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                    
                                    <button type="submit" class="btn btn-primary w-25">Submit</button>
                                    
                                </div>
                                
                            </div>
                            
                            
                        
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>
    
</section>