<!-- 
<section>
    
    <div class="container">
        
        <div class="row mt-3 ">
            <h2 style="background-color: #438eb9; color: white;">View all Alot</h2>
            <hr>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-end">
              <button type="button" [routerLink]="['/Admin/Addalot']" routerLinkActive="router-link-active"  class="btn btn-primary">Add Alot</button>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                
                <div class="table-responsive">
                    <table class="table table-hover" style="text-wrap: nowrap;">
                      <thead>
                        <tr>
                          <th>Sr No</th>
                          <th>Patient Name</th>
                          <th>Nurse Name</th>
                          <th>Form Date</th>
                          <th>To Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let admin of allalotsssCount; let i = index">
                          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> 
                          <td>{{ admin.patientName }}</td>
                          <td>{{ admin.nurseName }}</td>
                          <td>{{ admin.formDate }}</td>
                          <td>{{ admin.toDate }}</td>
                          <td>  
                            <button (click)="nurseById(admin.id)" class="btn btn-primary bg-transparent m-1" style="color: #438eb9;" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-solid fa-pen-to-square"></i></button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Nurse</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form #userForm="ngForm" (ngSubmit)="updateNurse()">
                                      <div class="container mt-2 mb-3">
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="name">First Name:</label>
                                            <input type="text" class="form-control" id="name" [(ngModel)]="nurseByIdData.name" name="name" required />
                                          </div>
                                          
                                          <div class="col-lg-6">
                                            <label for="mobileNumber">Mobile Number:</label>
                                            <input type="text" class="form-control" id="mobileNumber" [(ngModel)]="nurseByIdData.mobileNumber" name="mobileNumber" required />
                                          </div>
                                        </div>
                            
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="email">Email:</label>
                                            <input type="text" class="form-control" id="email" [(ngModel)]="nurseByIdData.email" name="email" required />
                                          </div>
                                        </div>
                                        
                                        
                                      </div>
                                      
                                      
                                      
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                      
                                      
                                    </form>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button (click)="nurseById(admin.id)" class="btn btn-danger bg-transparent m-1" style="color: red;" data-bs-toggle="modal" data-bs-target="#deleteModal" ><i class="fa-solid fa-trash"></i></button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Nurse</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure want to delete {{ nurseByIdData.name }} ?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" (click)="nurseDelete(nurseByIdData)" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="pagination-controls">
                    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
                  </div>
                  
                
            </div>
            
        </div>
        
    </div>
    
</section> -->